.venv/
.history/

# Temporary
tmp/

# Config Files
*.ini

# Variant Cell Format
*.vcf

# Pedigree File
*.ped
*.fam

# Tabix Index Files
*.tbi

# Bed Files
*.bed

# Compressed Files
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Spreadsheet Files
*.csv
*.tsv
*.xls
*.xlsx

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Built Visual Studio Code Extensions
*.vsix

