.venv/
.history/

# Temporary
tmp/

# Config Files
*.ini

# Variant Cell Format
*.vcf

# Pedigree File
*.ped
*.fam

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Built Visual Studio Code Extensions
*.vsix

